:root {
    --primary-color: #c1aa7f; /* Example primary color */
    --secondary-color: #393732; /* Example secondary color */
    --accent-color: #24282b;
    --neutral-color: #f9f8f3;
}

html {
    width: 100%;
    height: 100%;
}