@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
*::selection {
    background-color: rgb(34, 222, 222);
    color: whitesmoke;
}
html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.main-overlay {
    width: 100vw;
    height: 100vh;
    background: url("/home-bg.webp") center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    filter: brightness(50%);
}

.backdrop-blur-dk {
    backdrop-filter: blur(50px);
}

.container {
    backdrop-filter: blur(300px);
}

.second-container {
    backdrop-filter: blur(500px);
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}

.container-bordershadow {
    border: 2px solid rgb(0, 202, 179);
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
}
.container-borderbottom {
    border-color: rgb(0, 103, 91);
    border-style: solid;
    border-width: 1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.dateselection{
    color: rgb(0, 255, 255);
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.scrollbar-css::-webkit-scrollbar {
    width: 7px;
}

.scrollbar-css::-webkit-scrollbar-track {
    border-radius: 12px;
    background: rgba(11, 117, 117, 0.316);
}

.scrollbar-css::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background: rgb(34, 222, 222);
}
.scrollbar-css::-webkit-scrollbar-thumb:hover {
    background: rgb(22, 138, 138);
}

.scrollbar-css::-webkit-scrollbar-button {
    display: none;
}

.userdata{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.userdata:hover{
    background-color: rgb(0, 52, 49);
}

.userdatas{
    height: 90%;
    overflow-y: scroll;
}