@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: white; */
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.main-overlay {
    width: 100vw;
    height: 100vh;
    background: url("/home-bg.jpg") center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    filter: brightness(50%);
}

.backdrop-blur-dk {
    backdrop-filter: blur(50px);
}

.container {
    backdrop-filter: blur(300px);
}

.second-container {
    backdrop-filter: blur(500px);
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}

.container-bordershadow {
    border: 2px solid rgb(0, 202, 179);
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
}
